data/raw/emscad.csv filter=lfs diff=lfs merge=lfs -text
data/processed/*.csv filter=lfs diff=lfs merge=lfs -text
data/splits/*.csv filter=lfs diff=lfs merge=lfs -text
data/preprocessed/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/synthetic/production/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/synthetic/export/*.csv filter=lfs diff=lfs merge=lfs -text
DataSet/*.csv filter=lfs diff=lfs merge=lfs -text
